//Theme
//theme--light
//color
//color--light
$colorBase: #ee4444;
$colorBgBody: #d9e9e9;
// theme--dark
//color
//color--dark
$colorBase--dark: #ee4444;
$colorBgBody--dark: #222633;
$colorBgCardHide--dark: #191c29;
//Others
//height
$fullHeight: 100vh;
$minHeight: 450px;
//border
$base-radius: 10px;
//space
$cardSpace: 20px;
$containerSpace: 15px;
//fonts
$font-family-base: Comfortaa, cursive, -apple-system, BlinkMacSystemFont, "Segoe UI", "Apple Color Emoji";
$font-size-base: 16px;
$font-weight-base: 700;
// box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
